*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (min-width: 600px) {
  html {
    font-size: 80%;
  }
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(16, 42, 73);
  background-image: url("img/bck.jpg");
  background-repeat: repeat;
  font-size: 2rem;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem 14rem auto 5rem;

  grid-template-areas:
    "menu header"
    "aside aside"
    "main main"
    "footer footer";
}

.menu__show {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5rem;
  font-size: 3rem;
}
.menu__show ul {
  text-align: center;
  align-self: center;
}
.menu__show ul li {
  list-style: none;
  margin: 1rem;

  min-width: 300px;
  padding: 2rem;
}
.menu__show ul li:hover {
  background-color: #f8f2f2;
  color: black;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: flex-end;

  grid-area: header;
}
h1 {
  align-self: center;

  margin: 0rem 5rem;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: #f8f2f2;
}
nav {
  grid-area: nav;
  display: none;
}
button.nav__mobile {
  align-self: center;
  margin: 0rem 20%;

  width: 10rem;
  height: 5rem;

  background-color: transparent;
  border: 1px #f8f2f2 solid;
  border-radius: 5px;
  color: #f8f2f2;
  font-size: 2rem;

  cursor: pointer;

  grid-area: menu;
}
button.nav__mobile:hover {
  background-color: #f8f2f2;
  color: black;
}
aside {
  padding: 2rem;
  background-color: rgba(241, 214, 235, 0.75);
  color: #707070;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  align-self: self-end;

  grid-area: aside;
}

main {
  margin: 3rem;

  color: #707070;
  height: min-content;

  grid-area: main;
}
main img {
  float: left;
  max-width: 30vw;
  min-width: 100px;
  margin: 2rem;
}
main p {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3rem;
  padding-top: 5rem;
  text-align: right;
  line-height: 1.5;
  font-weight: 300;
}
footer {
  padding: 2vh 0rem;
  text-align: center;
  background-color: rgba(16, 42, 73, 0.9);
  color: #f1e5d6;

  grid-area: footer;
}
/*for Desktop*/
@media (min-width: 500px) and (min-aspect-ratio: 1/1) {
  /* and (max-aspect-ratio: 10/7)*/
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10rem 6rem auto auto 4rem;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      ". main main"
      "aside main main"
      "footer footer footer";
  }

  header {
    padding: 0rem;
  }
  h1 {
    float: left;
    margin: 2rem 3rem;
  }

  nav {
    display: block;
  }
  .nav__desktop {
    display: block;
    width: 100vw;
    padding: 1rem;
    clear: both;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-family: "Playfair Display", serif;
  }
  .nav__mobile {
    display: none;
  }
  nav ul li {
    display: inline;
    padding: 0rem 1.5vw;
    font-size: 2.8vw;
  }
  aside {
    width: 20vw;
    height: 20vw;
    margin: 4rem;
    padding: 3.8vw;
    border-radius: 1000px;
    font-size: 2vw;
    color: black;

    grid-area: aside;
  }
  section {
    max-width: 100vw;
    height: 70vh;
    position: relative;
  }
  main {
    max-width: 50vw;
    justify-self: self-end;

    display: flex;
  }
  .main--img__desktop {
    max-width: 20vw;
    background-color: rgba(14, 14, 14, 0.38);
  }
  main img {
    margin: 0rem;
    max-width: 20vw;
  }
  main p {
    color: black;
    font-size: 1.3rem;
    width: 70%;
    float: right;
  }
  footer {
    width: 100vw;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 80%;
  }
}
